body,html{
    scroll-behavior: smooth;
}


#home {
    /* background-color: teal; */
    background-image: url(../img/events-heavenly-header.jpg);
    background-size: cover;
    /* background-position: center; */
    height: 100vh;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-position: center; */
}

.layer {
    background-color: rgba(214, 46, 51, 0.6);
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;



}

.content {
    width: 50%;
    color: white;
    text-align: center;

}

.content p {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;

}

.content h1 {
    font-size: 64px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;

}


.content button {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #20c997;
    border-radius: 25px;
    color: white;
    padding: 20px 40px;
    margin-top: 20px;
    transition: all 0.5s;

}

.home-btn button:hover {
    background-color: #20c997;
}


.test{
    width: 400px;
    height: 400px;
    background-color: teal;
}


#sideBar{
    /* position: fixed; */
    top: 0;
    bottom: 0;
    /* background-color: teal; */
    z-index: 9999;
    display: flex;
    /* align-items: flex-start; */
}

.sidebar-content{
    background-color:crimson;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.out{
    position: static;
}

.out i{
    background-color: yellowgreen;
    padding: 10px;
    align-self: center;
    cursor: pointer;
    /* transform: translateY(15rem); */
}



.sidebar-content a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    
}

.sidebar-content i{
    align-self: flex-end;
    cursor: pointer;
}


.first-h{cursor: pointer;}
.sec-h{cursor: pointer;}
.third-h{cursor: pointer;}


/* .first-p{
    display: none;
} */


/* start-number */
#numbers{
    background-image: url(../img/time.jpg);
    background-position: center;
    background-size: cover ;
    /* background-attachment: fixed; */
    padding: 6rem;
    position: relative;
    /* height: 50vh; */

}

#numbers::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(214, 46, 51, 0.6);
    /* background-color: teal; */
    position: absolute;
    top: 0;
    left: 0;

}


#numbers .col-md-3{
    z-index:0;
}



.numbers-icon i{
    font-size: 2rem;
}




.numbers-icon{
    width: 15rem;
    height: 10rem;
    border: 2px solid white;
    /* transform: translate(90%); */
    transition: all 0.5s;
}

/* end-number */



/* start-contact */
#contact{
    padding: 8rem 0;
    position: relative;
    

}



#contact .col-md-12{
    z-index: 1;
    

}



.icons-contact{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid #0078ff;
}

.touch a{
    color: black;
}


/* end-contact */
